.navbar {
  padding: 25px 0;
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__list {
    @extend .navbar__content;
    gap: 30px;
    
    @include media(992) {
      display: none;
    }
  }

  &__burger {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 12px;

    &--text {
      font-size: 20px;
      line-height: 26px;
      font-family: $d;
      font-weight: 700;
      text-transform: capitalize;
      color: $white;
      @include media(420) {
        display: none;
      }
    }

    &--items {
      width: 25px;
      height: 25px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3px;

      span {
        background: $white;
      }
    }
  }
}