.navbar {
  padding: 25px;
  background: $black;
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &--logo {
    font-size: 25px;
    line-height: 30px;
    font-family: $d;
    font-weight: 700;
    color: $white;
  }
  
  &__list {
    @extend .navbar__content;
    gap: 30px;

    a {
      color: $text;
      font-size: 22px;
      line-height: 33px;
      text-transform: capitalize;
      display: inline-block;
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

      &::before,
      &::after {
        content: '';
        position: absolute;
        // border-bottom: 3px solid rgb(0, 99, 228);
        border-radius: 1em;
        bottom: 0;
        transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      
      &::before {
        width: 1em;
        transform-origin: left;
        border-bottom: 3px solid $neon-green;
      }
      &::after {
        width: 82%;
        left: 1em;
        transform: translateX(110%);
        border-bottom: 3px solid $white;
      }
      
      &:hover::before {
        transform: scaleX(0.3);
      }
      &:hover::after {
        transform: translateX(0);
      }
    }
  }

  &__burger {
    display: flex;
    align-items: center;
    gap: 12px;

    &--text {
      font-size: 20px;
      line-height: 26px;
      font-family: $d;
      font-weight: 700;
      text-transform: capitalize;
      color: $white;
    }

    &--items {
      width: 25px;
      height: 25px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3px;

      span {
        background: $white;
      }
    }
  }
}