.portfolio {
  padding: 50px 0;
  background: url('../images/portfolio/bg.jpg') center center / cover no-repeat;
  
  &__content {
    height: 100%;
    transition: $transition !important;
    will-change: transform;
  }
  
  .slider {
    display: flex;
    align-items: center;
    &2 {
      margin: 30px 0;
    }
    &__item {
      height: 300px;
      cursor: pointer;
      transition: transform $transition;
      position: relative;
      
      &--content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        opacity: 0;
        background: linear-gradient(0deg, #000000 13%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0) 90%);
        transition: 0.3s linear;
        padding: 20px;
        
        a {
          font-size: 16px;
          line-height: 19px;
          color: $white;
          font-family: $d;
          transform: translateY(35px);
          transition: 0.3s linear;
        }
      }
      &:hover {
        transform: scale(1.04);
        .slider__item--content {
          opacity: 1;
          
          
          a {
            transform: translate(0);
          }
        }
      }
      img {
        width: 100%;
      }
    }
  }
}