@mixin media($size) {
  @media(max-width: #{$size}px) {
    @content
  }
};
@mixin FontFace($ff, $fUrl, $name, $ext, $format, $weight) {
  @font-face {
    font-family: $ff;
    src: url('../fonts/#{$fUrl}#{$name}.#{$ext}') format('#{$format}');
    font-weight: $weight;
  }
}
